# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules

# test
/tests

# production
/build
/dist

# misc
.idea/
.happypack
.DS_Store
.vscode/

package-lock.json
yarn.lock
npm-debug.log*
yarn-debug.log*
yarn-error.log*

